Package: ubiquity-slideshow-metacortex
Version: 0.1
Architecture: all
Maintainer: Metacortex <titenko.m@gmail.com>
Installed-Size: 1
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Provides: ubiquity-slideshow
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubiquity-slideshow-ubuntu
Description: Ubiquity slideshow for Metacortex
 A slideshow intended for the Metacortex Ubiquity installer.
